/* 
    Document   : QTI
    Created on : 06-Aug-2012, 20:44:06
    Author     : Przemyslaw Lis
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.QTItitle {

}

.QTIprompt {

}

.QTIdisplayTable {
    display: table;
}

.QTIhorizontalOrderedElement {
    float: left;
    margin:5px;
    padding:5px;
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.QTIverticalOrderedElement {
    margin:5px;
    padding:5px;
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.QTIitemBody {
    padding:5px;
    border:1px solid grey;
}

.QTIdraggableOptionsContainer {
    border:1px dotted grey;
}

.QTIassociateAction {
    min-width: 50px;
    padding:5px;
    border:1px dotted grey;
    margin:5px;
}

.QTIassociation {
    padding:5px;
    border:1px dotted grey;
    margin:5px;
}

.QTIgap {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

.QTIsliderInteraction {
}

.QTItable {

}

.QTItableRowHeader {

}

.QTItableColumnHeader {

}

.QTItableCell {

}

.QTIorderContainer {

}

.QTIprintedVariable {

}

.QTIextendedTextInteraction {

}

.QTItextEntryInteraction {

}

.QTIinlineChoiceInteraction {

}

.QTIhottextLabel{

}
/*
.QTIfeedbackInline {
    font-weight: bold;
}

.QTIfeedbackBlock {
    font-weight: bold;
}
*/